
body {
	overflow-x: hidden;
	overflow-y: auto;
}

#logo {
	position: relative;
	top: 0px;
	left: 0px;
}

 #header_linkes , #high_scores {
	border-collapse: collapse;
	border-spacing: 0;
	position: relative;
	left: 0px;
	width: 1000px;
	font-family: Calibri;
}

table td,table th {
	padding: 0;
}

.about_us {
	font-family: Calibri;
	font-size: 20px;
	padding-top: 25px;
	padding-left: 50px;
	width: 1000px;
}

.text {
	font-family: Calibri;
	font-size: 20px;
	white-space: nowrap;
	overflow: hidden;
}

#center {
    max-width: 100%;
    min-height: 500px;
   	position: static;
	display: block;
	margin-left: auto;
	margin-top: auto;
}

#GameDiv {
    max-width: 100%;
    min-height: 500px;
   	position: static;
	display: block;
	margin-left: 200px;
	margin-top: 10px;
}

#high_scores {
	font-family: Calibri;
	font-size: 20px;
	margin-left: auto;
	margin-right: auto;
}

#high_scores tr td + td + td {
	background-color: A0A0A0;
	text-align:center
}

button {
	display: inline-block;
	font-size: 14px;
	margin-left: 200px;
}

#footer {
	font-family: Calibri;
	font-size: 20px;
	padding-left: 10px;
	margin-top: 5px;
	background-color:#A9A9A9;
	color: #FFFFFF;
	width: 1500px;
}

#canvas {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}