body {
	overflow-x: hidden;
	overflow-y: auto;
}

#logo {
	position: relative;
	top: 0px;
	left: 0px;
	width: 100%;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	position: relative;
	left: 0px;
}

table td,table th {
	padding: 0;
}

#context {
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
}

.text {
	font-family: Calibri;
	width: 80%;
	font-size: 120%;
	padding-top: 25px;
	padding-left: 50px;
}

#high_scores {
	font-family: Calibri;
	width: 60%;
	font-size: 200%;
	margin-left: auto;
	margin-right: auto;
}

#high_scores tr td + td + td {
	background-color: A0A0A0;
	text-align:center
}

button {
	display: inline-block;
	font-size: 14px;
	margin-left: 200px;
}

#canvas {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}